@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  cursor: default;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  color: #000;
  position: static;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
select,
input,
button:focus {
  outline: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
.image-with-text__text.rte ul {
  list-style: disc;
}
a {
  text-decoration: none;
  color: #000;
}
a,
a * {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.imgbox_full,
.imgbox {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
}
.imgbox_full img,
.imgbox img {
  width: 100%;
  height: auto;
}
.imgbox_full {
  height: 100%;
}
.imgbox_full img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

html {
  --section-space: 20px 0;
  --heading-font: 42px;
  --subheading-font: 32px;
  --paragraph-font: 18px;
  --text: 16px;
  --large-paargraph: 24px;
  --bold: 600;
  --extra-bold: 700;
  --regular: 400;
  --thin: 200;
}

@media only screen and (max-width: 1300px) {
  html {
    --section-space: 20px 0;
    --heading-font: 35px;
    --subheading-font: 25px;
    --paragraph-font: 17px;
    --text: 15px;
    --large-paargraph: 22px;
  }
}
@media only screen and (max-width: 992px) {
  html {
    --section-space: 20px 0;
    --heading-font: 30px;
    --subheading-font: 20px;
    --paragraph-font: 13px;
    --text: 15px;
    --large-paargraph: 20px;
  }
}
@media only screen and (max-width: 768px) {
  html {
    --section-space: 20px 0;
    --heading-font: 26px;
    --subheading-font: 18px;
    --paragraph-font: 14px;
    --text: 12px;
    --large-paargraph: 18px;
  }
}
@media only screen and (max-width: 560px) {
  html {
    --section-space: 20px 0;
    --heading-font: 24px;
    --paragraph-font: 13px;
    --text: 12px;
  }
}

@media only screen and (max-width: 380px) {
  html {
    --subheading-font: 16px;
  }
}

.btn-hover {
  transition: all 0.5s linear;
}

.btn-hover:hover {
  background: #000;
  color: white;
}

/* saying_section  start  */

.saying_section {
  padding: var(--section-space);
}

.saying_section .heading {
  text-align: center;
  font-size: var(--subheading-font);
  padding-bottom: 20px;
  text-transform: uppercase;
}

.saying_section .heading h2 {
  font-weight: 600;
}

.saying_section .first-comments .imgbox {
  padding: 10px 0;
}

.saying_section .first-comments .imgbox img {
  width: 350px;
}

.saying_section .first-comments .first-image {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.saying_section .first-comments .second-image {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.saying_section .first-comments .third-image {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.saying_section .second-comments .imgbox img {
  width: 350px;
}

.saying_section .second-comments .imgbox {
  padding: 10px 0;
}

.saying_section .second-comments .first-image {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.saying_section .second-comments .second-image {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.saying_section .second-comments .third-image {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.saying_section .first-comments .btn {
  font-size: var(--text);
  font-weight: 400;
  text-align: center;
  background: #fdbe64;
  border-radius: 40px;
  padding: 12px 10px;
  cursor: pointer;
  transition: all 0.5s linear;
}

.saying_section .first-comments .btn a {
  transition: all 0.5s linear;
}

.saying_section .first-comments .btn:hover {
  background: #281739;
}

.saying_section .first-comments .btn:hover span {
  color: white;
}
.saying_section .first-comments .btn:hover a {
  color: white;
}

.saying_section .first-comments .btn span {
  font-weight: 600;
  display: block;
  text-transform: uppercase;
  font-size: var(--large-paargraph);
  transition: all 0.5s linear;

}

.saying_section .video-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  position: relative;
}

.saying_section .video {
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  position: relative;
  z-index: 0;
}

.saying_section .video video {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saying_section .video::after {
  content: "";
  background-image: url(/images/s.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 106%;
  height: 106%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.saying_section .video::before {
  content: "  ";
  background-image: url(/images/play.png);
  width: 80px;
  height: 80px;
  position: absolute;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  cursor: pointer;
}

/* saying_section  end  */

/* priceless_memories_section start  */
.priceless_memories_section {
  padding: var(--section-space);
}

.priceless_memories_section .heading {
  text-align: center;
  padding-bottom: 22px;
}

.priceless_memories_section .heading h2 {
  font-size: var(--heading-font);
}

.priceless_memories_section .heading h2 span {
  text-decoration: underline;
  color: #fdbe64;
}

.priceless_memories_section .mobile-img {
  display: none;
}
.priceless_memories_section .image .desktop-img {
  border-radius: 24px;
  max-width: 350px;
  width: 100%;
}

.priceless_memories_section .content {
  text-align: center;
}

.priceless_memories_section .content p {
  font-size: var(--paragraph-font);
  padding-bottom: 50px;
  font-weight: var(--thin);
}

.priceless_memories_section .sub-heading {
  text-align: center;
  padding-bottom: 30px;
}

.priceless_memories_section .sub-heading h2 {
  font-style: italic;
  font-size: var(--subheading-font);
  font-weight: var(--bold);
}

.priceless_memories_section .bottom {
  text-align: center;
  padding: 11px 18px;
  background: #fdbe64;
  border-radius: 40px;
  position: relative;
}

.priceless_memories_section .bottom h2 {
  font-size: var(--subheading-font);
  font-weight: var(--bold);
}

.priceless_memories_section .bottom a {
  padding: 7px 10px;
  background: #281739;
  font-size: var(--large-paargraph);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 40px;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50%;
  transition: all 0.5s linear;
}

.priceless_memories_section .bottom a:hover {
  background: #fdbe64;
  color: black;
}

@media only screen and (max-width: 992px) {
  .priceless_memories_section .bottom a {
    bottom: -38%;
  }
}

@media only screen and (max-width: 768px) {
  .priceless_memories_section .image .desktop-img {
    display: none;
  }
  .priceless_memories_section .mobile-img {
    display: block;
    border-radius: 40px;
  }
  .priceless_memories_section .content p {
    padding-bottom: 30px;
  }
  .priceless_memories_section .bottom a {
    bottom: -60%;
  }
}

@media only screen and (max-width: 454px) {
  .priceless_memories_section .bottom a {
    bottom: -40%;
  }
}

/* priceless_memories_section end  */

/* .special_memories_section start  */

.special_memories_section {
  padding: var(--section-space);
}

.special_memories_section .heading {
  text-align: center;
  color: black;
  margin-bottom: 39px;
}

.special_memories_section .heading h2 {
  font-size: var(--heading-font);
}

.special_memories_section .heading h2 span {
  color: #fdbe64;
  text-decoration: underline;
}

.special_memories_section .content {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

.special_memories_section .content p {
  padding: 30px 4px;
  font-size: var(--paragraph-font);
  font-weight: var(--thin);
}

.special_memories_section .image img {
  border-radius: 7px;
}

.special_memories_section .bottom {
  background: #281739;
  text-align: center;
  padding: 9px 1px 12px 1px;
  border-radius: 40px;
  margin-top: 35px;
}

.special_memories_section .bottom h2 {
  color: white;
  font-size: var(--subheading-font);
}

.special_memories_section .bottom h2 span {
  text-decoration: underline;
  color: #fdbe64;
}

@media only screen and (max-width: 1400px) {
  .special_memories_section .content p {
    padding: 5px 4px;
  }
}

@media only screen and (max-width: 768px) {
  .special_memories_section .content p {
    padding: 10px 4px;
  }

  .special_memories_section .bottom {
    padding: 9px 20px 12px 20px;
  }

  .special_memories_section .heading {
    margin: 10px 0;
  }
}
@media only screen and (max-width: 560px) {
  .special_memories_section .content p {
    font-size: 13px;
  }
}

/* .special_memories_section end  */

/* qr_code_gallery_section start  */
.qr_code_gallery_section {
  padding: var(--section-space);
}
.qr_code_gallery_section .heading {
  text-align: center;
  padding-bottom: 27px;
}

.qr_code_gallery_section .heading h2 {
  font-size: var(--subheading-font);
  font-weight: var(--bold);
}

/* .qr_code_gallery_section .image {
  width: 100%;
} */

.qr_code_gallery_section .imgbox_full {
  aspect-ratio: 6/7 auto;
}

.qr_code_gallery_section .imgbox_full img {
  border-radius: 40px;
}

.qr_code_gallery_section .image .btn {
  background: #281739;
  border-radius: 40px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 26px;
  padding: 10px 0;
  cursor: pointer;
  transition: all 0.5s linear;
}

.qr_code_gallery_section .image .btn:hover {
  background: #fdbe64;
}

.qr_code_gallery_section .image .btn:hover a {
  color: #281739;
}

.qr_code_gallery_section .image .btn a {
  font-size: var(--subheading-font);
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s linear;
}

.qr_code_gallery_section .content {
  text-align: center;
}

.qr_code_gallery_section .content p {
  font-size: var(--paragraph-font);
  line-height: 30px;
  font-weight: var(--thin);
}

.qr_code_gallery_section .content .bold-text {
  background: #fdbe64;
  padding: 9px 5px;
  margin: 80px 0;
  border-radius: 40px;
}

.qr_code_gallery_section .content .bold-text a {
  font-size: var(--large-paargraph);
  font-weight: 700;
  padding: 10px 20px;
}

@media only screen and (max-width: 768px) {
  .qr_code_gallery_section .content .bold-text {
    margin: 35px 0;
  }
  .qr_code_gallery_section .image .btn a {
    font-size: var(--heading-font);
  }
}
@media only screen and (max-width: 1175px) {
  .qr_code_gallery_section .content .bold-text {
    margin: 45px 0;
  }
}
@media only screen and (max-width: 992px) {
  .qr_code_gallery_section .content .bold-text {
    margin: 30px 0;
  }

  .qr_code_gallery_section .content p {
    line-height: 22px;
  }
}

@media only screen and (max-width: 768px) {
  .qr_code_gallery_section .content {
    padding-bottom: 20px;
  }
}

/* qr_code_gallery_section end  */

/* why_choose section start  */

.why_choose_section {
  padding: var(--section-space);
}

.why_choose_section .heading {
  text-align: center;
  padding-bottom: 28px;
}

.why_choose_section .heading h2 {
  font-size: var(--subheading-font);
  font-weight: var(--bold);
}

.why_choose_section .content ul {
  list-style: disc;
  padding: 15px;
}

.why_choose_section .content ul li {
  font-size: var(--paragraph-font);
  padding: 25px 0;
  font-weight: var(--thin);
}

.why_choose_section .content ul li .bold {
  font-weight: var(--bold);
}

.why_choose_section .content ul li .underline {
  font-weight: 600;
  text-decoration: underline;
}

.why_choose_section .main-image {
  display: flex;
  justify-content: flex-end;
}

.why_choose_section .image {
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  display: flex;
}

.why_choose_section .content .btn {
  width: 90%;
  background: #fdbe64;
  padding: 9px 0;
  text-align: center;
  border-radius: 40px;
  margin: auto;
  cursor: pointer;
  transition: all 0.5s linear;
}

.why_choose_section .content .btn:hover {
  background: #281739;
}

.why_choose_section .content .btn a {
  font-size: var(--subheading-font);
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .why_choose_section .image {
    max-width: 100%;
    height: 400px;
  }

  .why_choose_section .content ul li {
    padding: 15px 0;
  }
}

/* why_choose section end  */

/* wedding_memories  section start  */
.wedding_memories_section {
  padding: var(--section-space);
  position: relative;
}

.wedding_memories_section .heading {
  text-align: center;
  padding-bottom: 20px;
}

.wedding_memories_section .heading h2 {
  font-size: var(--subheading-font);
  font-weight: 700;
}

.wedding_memories_section .image {
  width: 400px;
  margin: auto;
  border-radius: 40px;
  display: flex;
}

.wedding_memories_section .first-text {
  text-align: center;
  padding: 30px 40px;
}

.wedding_memories_section .first-text p {
  font-weight: var(--thin);
  font-size: var(--paragraph-font);
  line-height: 28px;
}

.wedding_memories_section .memories {
  position: relative;
}
.wedding_memories_section .second-text {
  text-align: center;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 0;
  top: 50%;
  right: -1%;
  transform: translate(-50%, -50%);
  width: 350px;
}

.wedding_memories_section .second-text .overlay p::after {
  content: "";
  background: #fdbe64;
  position: absolute;
  width: 90%;
  height: 100%;
  border-radius: 40px;
  left: 53%;
  top: 52%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.wedding_memories_section .second-text p {
  font-weight: var(--bold);
  font-size: var(--paragraph-font);
  line-height: 28px;
  color: white;
  padding: 50px 10px;
  background: #281739;
  border-radius: 40px;
}

.wedding_memories_section .mobile-img {
  display: none;
}

.wedding_memories_section .bottom {
  background: #fdbe64;
  padding: 10px;
  text-align: center;
  border-radius: 40px;
  margin-top: 20px;
}

.wedding_memories_section .bottom h2 {
  font-size: var(--subheading-font);
}

@media only screen and (max-width: 1400px) {
  .wedding_memories_section .second-text {
    right: -10%;
  }
}
@media only screen and (max-width: 1200px) {
  .wedding_memories_section .second-text {
    right: -20%;
  }
}
@media only screen and (max-width: 768px) {
  .wedding_memories_section .second-text {
    position: relative;
    transform: translate(0, 0);
    margin: 0 auto;
    right: 0;
    width: 100%;
  }

  .wedding_memories_section .mobile-img {
    display: block;
    margin-bottom: 20px;
  }

  .wedding_memories_section .desktop-img {
    display: none;
  }
  .wedding_memories_section .image {
    width: 100%;
    height: auto;
  }

  .single_product_section .heading {
    text-align: center;
    padding-top: 15px;
  }
}

@media only screen and (max-width: 550px) {
  .wedding_memories_section .first-text {
    padding: 20px;
  }

  .wedding_memories_section .bottom h2 {
    font-size: var(--paragraph-font);
  }

  .single_product_section .heading h2 {
    font-size: var(--subheading-font);
  }
}

/* wedding_memories  section end  */

/* single_product section start  */

.single_product_section {
  padding: var(--section-space);
  position: relative;
}

.single_product_section .heading {
  font-size: var(--large-paargraph);
}

.single_product_section .image {
  border-radius: 40px;
}
.single_product_section .review {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.single_product_section .review span {
  font-weight: 600;
  font-size: var(--text);
}

.single_product_section .review ul {
  display: flex;
  gap: 4px;
}

.single_product_section .review ul li {
  display: flex;
}
.single_product_section .price {
  display: flex;
  gap: 5px;
  align-items: center;
}

.single_product_section .price .usd {
  font-weight: 300;
}

.single_product_section .price .now-price {
  font-size: var(--subheading-font);
  padding: 0 15px;
  border-right: 4px solid black;
  font-weight: 600;
}

.single_product_section .price .other {
  padding: 0 15px;
  font-style: italic;
}
.single_product_section .price .other .other-price {
  display: block;
  font-size: 22px;
  font-weight: 600;
  text-decoration: line-through;
  font-style: normal;
}

.single_product_section .whats-included .lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single_product_section .whats-included .lists p {
  font-size: var(--paragraph-font);
}
.single_product_section .whats-included .lists ul {
  list-style: none;
  padding: 20px;
}

.single_product_section .whats-included .lists ul li {
  font-size: var(--paragraph-font);
  padding: 5px;
  position: relative;
}

.single_product_section .whats-included .lists ul li::before {
  content: url(/images/check.svg);
  width: 10px;
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
}

.single_product_section .btn {
  background: #281739;
  padding: 5px;
  text-align: center;
  border-radius: 40px;
  cursor: pointer;
  cursor: pointer;
  transition: all 0.3s linear;
}

.single_product_section .btn:hover {
  background: #fdbe64;
}

.single_product_section .btn:hover a {
  color: black;
}

.single_product_section .btn a {
  font-size: var(--heading-font);
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  transition: all 0.5s linear;
}

.fill-yellow {
  fill: yellow;
}

.single_product_section .buttons {
  position: absolute;
  top: 20%;
  right: 0;
}

.single_product_section .buttons a {
  display: block;
  margin: 10px 0;
  background: #fdbe64;
  display: flex;
  flex-direction: column;
  padding: 20px 0px 20px 20px;
  border-radius: 30px 0px 0px 30px;
  font-size: var(--large-paargraph);
  font-weight: 700;
}

.single_product_section .buttons a span {
  display: inline-block;
  background: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .single_product_section .buttons {
    display: none;
  }
}
/* single_product section end  */
